<%= provide(:title, @environment.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="env_info">
      <ul>
          <li>
              Name: <%= @environment.name %> Owner: <%= @environment.owner %>
          </li>
      </ul>
    </section>
  </aside>
</div>